main {
	margin-top: 140px;
	margin-bottom: 140px;

	.container {
		.items__template__section {
			border-bottom: 0.5px solid #00000030;
			margin-bottom: 70px;
			padding-bottom: 70px;

			&:last-child {
				border-bottom: unset;
			}

			.its__category__title {
				color: $red;
				font-size: 16px;
				font-weight: 600;
				position: relative;
				padding-left: 32px;
				line-height: 40px;
				margin: 0px 0px 24px 0px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 40px;
					border-radius: $br;
					background: $red;
				}
			}

			.its__header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.itsh__left {
					display: flex;
					align-items: center;
					gap: 87px;

					.its__header__title {
						font-family: "Inter", sans-serif;
						font-weight: 600;
						font-size: min(36px, max(18px + 2vw));
						margin: 0;
						letter-spacing: 0.64px;
					}

					.timer {
						display: flex;
						align-items: center;
						gap: 17px;

						h5 {
							margin: 0;

							span {
								display: block;

								&:first-child {
									font-weight: 500;
									color: $black;
									margin-bottom: 4px;
									font-size: 12px;
								}

								&:last-child {
									font-size: min(32px, max(16px + 2vw));
									font-family: "Inter", sans-serif;
									font-weight: 700;
								}
							}
						}

						.seperator {
							margin-top: 12px;

							div {
								width: 4px;
								height: 4px;
								background: $red;
								border-radius: 50% 50%;
								margin-bottom: 8px;

								&:last-child {
									margin-bottom: unset;
								}
							}
						}
					}
				}

				.itsh__right {
					display: flex;
					gap: 8px;

					.left__btn,
					.right__btn {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						width: 46px;
						height: 46px;
						border-radius: 50% 50%;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;

							path {
								transition: fill $trs;
								fill: $black;
							}
						}

						&:first-child {
							svg {
								transform: rotate(180deg);
							}
						}

						&:hover {
							svg {
								path {
									fill: $red;
								}
							}
						}
					}
				}
			}

			.its__items {
				display: flex;
				gap: 30px;
				margin-top: 40px;

				.its__item {
					cursor: pointer;

					.its__item__header {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						padding: 12px;
						border-radius: $br;
						position: relative;
						max-width: 270px;
						max-height: 250px;
						min-width: 270px;
						min-height: 250px;
						overflow: hidden;

						.sale {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							font-size: 12px;
							background: $red;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;
						}

						.wishlist,
						.preview {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 34px;
							height: 34px;
							border-radius: 50% 50%;
							background: $white;
							cursor: pointer;
						}

						.wishlist {
							position: absolute;
							top: 12px;
							right: 12px;
						}

						.preview {
							position: absolute;
							top: 54px;
							right: 12px;
						}

						.image {
							max-width: 172px;
							max-height: 172px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}

						.to__basket {
							position: absolute;
							bottom: -100px;
							left: 0;
							width: 100%;
							padding: 8px 16px;
							text-align: center;
							background: $black;
							color: $white;
							cursor: pointer;
							transition: all $trs;

							&:hover {
								background: $green;
								color: $black;
							}
						}
					}

					.its__item__title {
						font-weight: 500;
						margin: 16px 0px 0px 0px;

						a {
							text-decoration: none;
							color: $black;
							font-size: 16px;
						}
					}

					.its__item__price {
						display: flex;
						gap: 12px;
						margin: 8px 0px;

						.current__price,
						.old__price {
							margin: 0;
							font-weight: 500;
						}

						.current__price {
							color: $red;
						}

						.old__price {
							color: $black;
							opacity: 0.5;
							text-decoration: line-through;
						}
					}

					.its__item__review {
						display: flex;
						align-items: center;
						gap: 8px;

						.comments__count {
							p {
								font-size: 14px;
								color: $black;
								opacity: 0.5;
								font-weight: 600;
								margin: 0;
							}
						}
					}

					&:hover {
						.its__item__header {
							.to__basket {
								bottom: 0px;
							}
						}
					}
				}
			}

			.its__categories {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.category {
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 170px;
						height: 145px;
						border: 1px solid #00000030;
						border-radius: $br;
						text-decoration: none;
						transition: all $trs;

						svg {
							margin-bottom: 16px;

							path,
							line {
								transition: inherit;
							}
						}

						span {
							font-size: 16px;
							color: $black;
							transition: inherit;
						}

						&:hover {
							background: $red;
							border-color: $red;

							svg {

								path,
								line {
									stroke: $white;
								}
							}

							span {
								color: $white;
							}
						}
					}
				}
			}

			.redBtn.bottom {
				margin: 60px auto 0px auto;
			}
		}

		.music__experience__section {
			height: 500px;
			padding: 69px 48px;
			display: flex;
			justify-content: space-between;
			background: $black;

			.music__content {
				a {
					display: block;
					font-size: 16px;
					font-weight: 600;
					text-decoration: none;
					color: $green;
				}

				h2 {
					font-family: 'Inter', sans-serif;
					font-weight: 600;
					font-size: min(48px, max(24px + 2vw));
					line-height: 60px;
					color: $mediumWhite;
					letter-spacing: 0.64px;
					margin: 32px 0px;
					white-space: nowrap;
				}

				.music__timer {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: 20px;

					div {
						width: 62px;
						height: 62px;
						background: $white;
						text-align: center;
						border-radius: 50%;
						padding-top: 20px;

						h6 {
							font-size: 16px;
							font-weight: 600;
							margin: 0;
							line-height: 10px;
						}

						span {
							display: block;
							font-size: 11px;
							line-height: 18px;
							font-weight: 400;
						}
					}
				}

				.greenBtn {
					display: block;
					width: fit-content;
					padding: 16px 48px;
					background: $green;
					color: $white;
					font-size: 16px;
					font-weight: 500;
					cursor: pointer;
					text-decoration: none;
					border-radius: $br;
					transition: all $trs;
					margin-top: 56px;

					&:hover {
						background: $greenHover;
					}
				}

				@media screen and (max-width: 1080px) {
					h2 {
						margin: 16px 0px;
					}

					.music__timer {
						gap: 16px;

						div {
							width: 55px;
							height: 55px;
							padding-top: 16px;
						}
					}

					.greenBtn {
						margin-top: 32px;
					}
				}

				@media screen and (max-width:$tabletM) {
					.music__timer {
						justify-content: center;
					}

					.greenBtn {
						margin: 32px auto;
					}
				}

				@media screen and (max-width: $mobileS) {

					h2 {
						font-size: 28px;
					}

					.music__timer {
						gap: 8px;
					}

					.greenBtn {
						margin-top: 32px;
					}
				}
			}

			.music__cover {
				position: relative;
				width: 504px;
				height: 350px;

				.blur {
					position: absolute;
					width: inherit;
					height: 350px;
					background: #D9D9D9;
					filter: blur(100px);
					opacity: 0.3;
					left: 30px;
					top: 0px;
				}


				img {
					display: block;
					width: 100%;
					position: absolute;
					top: 50px;
					z-index: 2;
				}

				@media screen and (max-width:1080px) {
					width: 450px;
				}

				@media screen and (max-width:600px) {
					width: 350px;
					left: 0;
				}

				@media screen and (max-width:500px) {
					width: 300px;
					height: 250px;

					div {
						width: inherit;
						height: inherit;
					}
				}

				@media screen and (max-width:450px) {
					width: 250px;
					height: 200px;
				}

				@media screen and (max-width:$mobileS) {
					width: 200px;
					height: 180px;
				}
			}

			@media screen and (max-width:1080px) {
				height: 450px;
				padding: 69px 32px;
			}

			@media screen and (max-width:$tabletM) {
				flex-wrap: wrap;
				height: fit-content;
				align-items: center;
				justify-content: center;
				text-align: center;
			}

			@media screen and (max-width: $mobileL) {
				padding: 32px;
			}
		}

		.items__template__section.explore {
			margin-top: 70px;
			border-bottom: none;

			.its__items {
				gap: 8px;

				.its__item {
					.its__item__price {
						display: flex;
						gap: 12px;
						margin: 8px 0px;
						float: left;

					}

					.its__item__review {
						gap: 8px;
						float: left;
						margin-top: 7px;
						margin-left: 10px;
					}

					.select__btns {
						display: flex;
						gap: 4px;

						a {
							display: block;
							border-radius: 50%;
							width: 16px;
							height: 16px;
							padding: 4px;
							border: 1px solid $black;

							&.default {
								background-color: $red;
								border: none;
							}

							&.red {
								background-color: #ff0000;
							}

							&.black {
								background-color: $black;
							}

							&.green {
								background-color: #184A48;
								;
							}

							&.yellow {
								background-color: #EEFF61;
								;
							}
						}
					}
				}
			}
		}

		.items__template__section.new__arrivals {
			border-bottom: none;

			.new__arrivals__content {
				display: flex;
				gap: 32px;
				align-items: center;
				justify-content: space-between;
				margin-top: 60px;

				.new__arrivals__left {
					width: 590px;
					height: 600px;
					border-radius: $br;
					background: $black;
					padding: 32px;
					display: flex;


					img {
						display: block;
						max-width: 450px;
					}

					div {

						h3 {
							font-family: 'Inter', sans-serif;
							font-weight: 600;
							font-size: min(24px, max(12px + 2vw));
							line-height: 24px;
							letter-spacing: 0.64px;
							color: $mediumWhite;
							margin: 0px 0px 16px 0px;
						}

						p {
							font-weight: 400;
							font-size: 14px;
							color: $mediumWhite;
							line-height: 21px;
							margin: 0px 0px 16px 0px;
						}

						a {
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
							color: $white;
							padding-bottom: 4px;
							text-decoration: none;
							border-bottom: 1px solid $white;
							cursor: pointer;
						}
					}
				}

				.new__arrivals__right {
					display: flex;
					flex-direction: column;
					gap: 32px;

					.new__arrivals__rightTop {
						width: 570px;
						height: 284px;
						background: #0D0D0D;
						border-radius: 4px;
						position: relative;
						padding: 0px 32px;

						img {
							position: absolute;
							right: 0;
							z-index: 1;
						}

						div {
							position: absolute;
							bottom: 24px;
							z-index: 2;

							h3 {
								font-family: 'Inter', sans-serif;
								font-weight: 600;
								font-size: min(24px, max(12px + 2vw));
								line-height: 24px;
								letter-spacing: 0.64px;
								color: $mediumWhite;
								margin: 0px 0px 16px 0px;
							}

							p {
								font-weight: 400;
								font-size: 14px;
								color: $mediumWhite;
								line-height: 21px;
								margin: 0px 0px 16px 0px;
							}

							a {
								font-weight: 500;
								font-size: 16px;
								line-height: 24px;
								color: $white;
								padding-bottom: 4px;
								text-decoration: none;
								border-bottom: 1px solid $white;
								cursor: pointer;
							}
						}
					}

					.new__arrivals__rightBottom {
						display: flex;
						gap: 32px;

						.rb__item {
							width: 270px;
							height: 284px;
							background: $black;
							border-radius: 4px;
							position: relative;
							padding: 32px;

							img {
								position: absolute;
								z-index: 1;
								
								top: 31px;
								left: 40px;
							}

							div {
								position: absolute;
								z-index: 2;
								bottom: 24px;

								h3 {
									font-family: 'Inter', sans-serif;
									font-weight: 600;
									font-size: min(24px, max(12px + 2vw));
									line-height: 24px;
									letter-spacing: 0.64px;
									color: $mediumWhite;
									margin: 0px 0px 16px 0px;
								}
		
								p {
									font-weight: 400;
									font-size: 14px;
									color: $mediumWhite;
									line-height: 21px;
									margin: 0px 0px 16px 0px;
								}
		
								a {
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;
									color: $white;
									padding-bottom: 4px;
									text-decoration: none;
									border-bottom: 1px solid $white;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}

		.advantages__section {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 94px;

			.advantages__item {
				text-align: center;
				.item__icon {
					width: 80px;
					height: 80px;
					border-radius: 50%;
					background: $black;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 11px solid #d1d1d1;
					margin: auto;
				}

				h4 {
					font-weight: 600;
					font-size: 20px;
					line-height: 28px;
					margin: 24px 0px 8px 0px;
				}

				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 21px;
					margin: 0;
				}
			}
		}
	}
}